
<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>angular使用websocket？ 使用ajax先</title>
	<script src="angular/angular.js" charset="utf-8"></script>
	<script src="ajax.js"></script>

</head>
<body>
 	<div ng-app="" ng-init="arr=[12,5,8,9,33,75];showValue=true;arr2=[{name:'blue',age:18},{name:'red',age:22}]">
 		<input type="text" name="name" value=""  ng-model="a">
	    <input type="text" name="name" value=""  ng-model="b=44">
	    <input type="button" name="button" value="按钮" ng-click="a=12;showValue=!showValue">
		<div class="" >
		结果是:{{a + b}}
		</div>
		<div style="width: 200px; height: 200px;background:#CCC;" ng-show="showValue">
			
		</div>
		<input type="text" name="name" value=""  ng-model="num">
		  <input type="button" name="button" value="添加" ng-click="arr.push(num)">
		<ul>
			<li ng-repeat="item in arr">{{item}}</li>
		</ul>
			<ul>
			<li ng-repeat="item2 in arr2">姓名:{{item2.name}},年龄:{{item2.age}}</li>
		</ul>


 	</div>


















	
</body>
</html>