
<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>与原生js之间的桥梁在哪$scope</title>
	<script src="angular/angular.js" charset="utf-8"></script>
</head>
<body>
 	<div ng-app="">
 		<input type="text" name="name" value=""  ng-model="a">
	    <input type="text" name="name" value=""  ng-model="b=44">
	    <input type="button" name="button" value="按钮" ng-click="a=12;showValue=!showValue">
		<div class="" >
		结果是:{{a + b}}
		</div>
		<div style="width: 200px; height: 200px;background:#CCC;" ng-show="showValue">
			
		</div>
 	</div>


















	
</body>
</html>